@import "@/styles/mixins.scss";
@import "@/styles/constants.scss";
@import "@/styles/colors.scss";

.main {
  background-color: $wrapper-color;
  @apply space-y-2 h-[$navbar-height];
}

.navigation {
  @include flex-basis;
  max-width: $max-screen-width;

  @apply mx-auto pb-2 pt-2;
}

.category {
  &:hover {
    color: $text-hover;
  }
  @apply cursor-pointer;
}
