@import "@/styles/colors";

.main {
  @apply flex flex-col space-y-[10px];
}

.text {
  color: $profile-menu-text;
  &:hover {
    color: $profile-menu-hover;
  }
}

.option {
  @apply flex flex-row space-x-2 hover:opacity-80;
}

.icon {
  color: $profile-menu-text;
  @apply h-[22px] w-[22px];
}
