@import "@/styles/colors";

.sign_in {
  &:hover {
    color: $text-hover;
  }
  @apply flex mt-[15px] ease-in-out;
}

.wrapper {
  @apply flex flex-row rounded-lg px-2 py-[2px] mt-[4px] cursor-pointer;
}

.name {
  @apply mt-[1px];
}

.main {
  @apply pb-[2px];
}

.picture {
  @apply border border-white rounded-full;
}

.icon {
  color: $auth-icon-color;
  @apply h-[20px] w-[24px] mt-[12px] ml-2 border border-white rounded-lg opacity-50;
}

.user_menu {
  background-color: $profile-menu-background;
  border-color: $profile-menu-border;
  @apply fixed mt-14 ml-[4px] border p-[10px] rounded-md;
}
