$wrapper-color: #6a5acd;
$logo-icon-color: #ec4899;
$logo-color: #22d3ee;
$auth-icon-color: #00bfff;

$primary-color: #111;
$alt-text-color: #f8f8ff;
$link-text-color: #0000ff;

$border-color: #303030;

$input-border-color: #1f2937;

$background-color: #fff2f2;
$page-background-color: #f5f5f5;

$auth-background-color: #fffafa;

$button-color: #6a5acd;

$error-color: #ff0000;

$shadow-color: #708090;

// player
$progress-bar-bg-color: #fffafa;
$progress-bar-color: #545488;
$volume-bg-color: #053a5f;
$volume-thumb: #053a5f;
