$max-screen-width: 1200px;
$max-screen-width-alt: 1400px;
$max-screen-height: calc(100vh - 152px);

// navbar
$navbar-height: 80px;

// player
$player-height: 48px;

// auth
$max-auth-form-width: 500px;

$input-width: 350px;
$input-field-width: 302px;
